*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 13px;
}

body{
    background-color: black;
    font-family: 'Open Sans';
}
.keys {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.key {
    color: white;
    font-size: 4rem;
    padding: 6rem;
    border: 2px solid white;
    margin: 2rem;
    border-radius: 1rem;
    transition: all 0.3s;
}

.playing {
    border-color: aquamarine;
    transform: scale(1.1);
    transform: rotate(25deg);
}